.introduction {
	display: flex;
	align-items: center;
	height: 90vh;
}
.introduction > div {
	flex: 1;
}
.intro-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	line-height: 50px;
}
.intro-right > :nth-child(3) {
	padding-left: 80px;
	font-family: "Noto Nastaliq Urdu";
	padding-top: 30px;
}
.persian-music {
	width: 80%;
	height: max-content;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "Noto Nastaliq Urdu";
}

.intro-left {
	position: relative;
	height: 100%;
}
.intro-left > img {
	position: absolute;
}
.intro-left > :nth-child(1) {
	z-index: 3;
	top: 0;
}
.intro-left > :nth-child(2) {
	z-index: -2;
	transform: scale(0.8);
	top: 0;
}
.intro-left > :nth-child(3) {
	z-index: -1;
	transform: scale(0.65);
	top: 0;
	left: 10rem;
}
.intro-left > :nth-child(4) {
	z-index: 2;
	position: absolute;
	transform: rotateZ(10deg);
	top: 10rem;
}
.intro-left > :nth-child(5) {
	z-index: 2;
	position: absolute;
	transform: rotateZ(-50deg);
	top: 10rem;
	left: 10rem;
}
.intro-left > :nth-child(6) {
	z-index: 2;
	position: absolute;
	transform: rotateZ(-50deg);
	top: 30rem;
	left: 10rem;
}
.int-scroll {
	position: absolute;
	bottom: 0;
	left: 50%;
}
