body {
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	font-family: "Yekan";
	direction: rtl;
}
a {
	color: inherit;
	text-decoration: none;
}
.toolbar {
	display: block;
	height: 100px;
}
button {
	all: unset;
}
