.SS-item {
	display: flex;
	background: #58c4ec;
}
.SSI-brand {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	color: white;
	padding: 10px;
}
.SSI-brand > img {
	max-width: 200px;
}
.SSI-brand > h2 {
	font-size: 1.2rem;
	font-weight: 100;
}
.SSI-product {
	background: linear-gradient(to left, transparent, #dedede 20%);
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.SSI-product > img {
	max-width: 500px;
}
.SSI-link {
	background-color: rgba(18, 18, 18, 0.8);
	padding: 10px 20px;
	box-shadow: 0 0 10px rgba(18, 18, 18, 0.8);
	border-radius: 0.5rem;
	font-size: 14px;
	justify-self: flex-end;
}
@media screen and (max-width: 1000px) {
	.SSI-product > img {
		transform: scale(0.8);
	}
	.SSI-brand {
		transform: scale(0.8);
	}
}
@media screen and (max-width: 850px) {
	.SSI-product {
		width: 50%;
	}
	.SSI-product > img {
		transform: scale(0.6);
	}
	.SSI-brand {
		transform: scale(0.8);
	}
}
@media screen and (max-width: 600px) {
	.SSI-product {
		width: 40%;
	}
	.SSI-product > img {
		transform: scale(0.5);
	}
	.SSI-brand {
		transform: scale(0.75);
	}
}
@media screen and (max-width: 550px) {
	.SS-item {
		flex-direction: column;
		height: 90vh;
	}
	.SSI-brand {
		transform: scale(0.8);
	}
	.SSI-product {
		width: 100%;
		background: linear-gradient(to bottom, transparent, #dedede 20%);
	}
	.SSI-product > img {
		transform: scale(0.5);
	}
}
