.categoryHome {
	height: 80vh;
	padding: 50px;
	overflow: hidden;
}
.categoryHome > h4 {
	font-size: 1.5rem;
	font-weight: 100;
	padding-right: 50px;
}

.popular-category {
	display: flex;
	gap: 5rem;
	justify-content: space-around;
	margin-bottom: 5rem;
}
.p-c-item {
	width: 15%;
	height: 10rem;
	background: #727272;
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 8px #727272;
	/* flex-direction: column; */
	gap: 15px;
	cursor: pointer;
}

.categoryHome .swiper {
	width: 100%;
	overflow: visible !important;
	height: 70%;
}
.categoryHome .swiper-pagination-bullet-active {
	background: rgb(255, 111, 0);
}
.categoryHome .swiper-pagination-bullet {
	height: 10px;
	width: 10px;
}
