.categoryHome {
	height: max-content;
	padding: 50px;
	overflow: hidden;
}
.categoryHome > h4 {
	font-size: 1.5rem;
	font-weight: 100;
	padding-right: 50px;
}

.popular-category {
	display: flex;
	gap: 5rem;
	justify-content: space-evenly;
	margin-bottom: 5rem;
	padding: 0 10px;
	flex-wrap: wrap;
}
.p-c-item {
	width: 15rem;
	height: 10rem;
	background: #727272;
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 8px #727272;
	gap: 15px;
	cursor: pointer;
}

.categoryHome .swiper {
	width: 100%;
	overflow: visible !important;
	height: 70%;
}
.categoryHome .swiper-pagination-bullet-active {
	background: rgb(255, 111, 0);
}
.categoryHome .swiper-pagination-bullet {
	height: 8px;
	width: 8px;
}
@media screen and (max-width: 650px) {
	.categoryHome {
		padding: 0;
	}
	.popular-category {
		gap: 15px;
	}
	.p-c-item {
		width: 10rem !important;
		height: 5rem;
		padding: 10px;
	}
}
