.slider-shopping {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.slider-shopping .swiper {
	width: 95%;
	border-radius: 1rem;
	box-shadow: 0 0 10px rgba(18, 18, 18, 0.5);
	cursor: grab;
}
.slider-shopping .swiper-pagination-bullet-active {
	background: rgb(0, 170, 255);
	width: 20px !important;
	border-radius: 5rem;
}
.slider-shopping .swiper-pagination-bullet {
	height: 8px;
	width: 8px;
}
