.special {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	overflow: hidden;
}
.SSe-content {
	width: 95%;
	height: 50%;
	display: inline-flex;
	justify-content: center;
	gap: 1rem;
}
.SSe-content > div {
	padding: 10px;
	cursor: pointer;
}
.SSe-content > div > div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	padding: 40px;
}

.SSe-content > div > div > span:nth-of-type(1) {
	color: rgba(178, 62, 62, 0.849);
}
.SSe-content > div > div > span:nth-of-type(2) {
	flex: 1;
	color: rgba(62, 62, 62, 0.849);
	font-size: 1.5rem;
	justify-self: start;
	align-self: center;
}
.SSe-content .item-1 {
	background: #f5d2ed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 0 10px #f5d2ed;
}
.SSe-content .item-2 {
	background: #b8f3f6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 0 10px #b8f3f6;
}
.SSe-content .item-3 {
	background: #f7e4a6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 0 10px #f7e4a6;
}
.SSe-content > div > img {
	max-height: 400px;
	max-width: 200px;
	padding-bottom: 50px;
	min-width: 100px;
	min-width: 200px;
}
@media screen and (max-width: 1450px) {
	.SSe-content > div > img {
		transform: scale(0.8);
	}
	.SSe-content > div {
		transform: scale(0.99);
	}
}
@media screen and (max-width: 1300px) {
	.SSe-content > div > img {
		transform: scale(0.8);
	}
	.SSe-content > div {
		transform: scale(0.95);
	}
}
@media screen and (max-width: 1280px) {
	.SSe-content > div > img {
		transform: scale(0.7);
	}
	.SSe-content {
		width: 100%;
	}

	.SSe-content > div {
		transform: scale(0.89);
	}
}
@media screen and (max-width: 1200px) {
	.SSe-content > div > img {
		transform: scale(0.7);
	}
	.SSe-content {
		width: 100%;
		min-width: 400px !important;
		gap: 0;
	}

	.SSe-content > div {
		transform: scale(0.89);
	}
}
@media screen and (max-width: 1270px) {
	.SSe-content > div > div {
		transform: scale(0.85);
		width: 50%;
	}
}
@media screen and (max-width: 1250px) {
	.SSe-content > div > div {
		transform: scale(0.85);
	}
	.SSe-content > div > img {
		transform: scale(0.68);
		width: 50%;
	}
}
@media screen and (max-width: 1250px) {
	.SSe-content > div > div {
		transform: scale(0.85);
	}
	.SSe-content > div > img {
		transform: scale(0.68);
	}
}
@media screen and (max-width: 1250px) {
	.SSe-content > div {
		transform: scale(0.88);
		padding: 0;
		position: relative;
	}
	.SSe-content > div > img {
		padding: 0;
		position: absolute;
		left: -80px;
	}
	.SSe-content > div > div {
		width: 50% !important;
		padding: 0;
	}
}
@media screen and (max-width: 810px) {
	.special {
		height: max-content;
		padding: 20px 0;
	}
	.SSe-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: initial;
	}
	.SSe-content > div {
		height: 200px !important;
		padding: 0 10px;
		margin-top: 40px;
	}
	.SSe-content > div > img {
		position: inherit;
	}
	.SSe-content > div > img {
		position: inherit;
	}
}

@media screen and (max-width: 500px) {
	.SSe-content {
		gap: 2rem;
	}
	.SSe-content > div {
		transform: scale(0.8);
	}
}
@media screen and (max-width: 450px) {
	.special {
		height: 120vh;
	}
	.SSe-content > div {
		transform: scale(0.8);
	}
}
