.comments {
	height: 60vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	background: linear-gradient(
		to bottom,
		#ffffff,
		rgba(13, 127, 214, 0.721) 40%,
		#ffffff
	);
}
