.categoryHome {
	height: max-content;
	padding: 50px;
	overflow: hidden;
}
.categoryHome > h4 {
	font-size: 1.5rem;
	font-weight: 100;
	padding-right: 50px;
}

.categoryHome .swiper {
	width: 100%;
	overflow: visible !important;
	height: 70%;
}
.categoryHome .swiper-pagination-bullet-active {
	background: rgb(255, 111, 0);
}
.categoryHome .swiper-pagination-bullet {
	height: 8px;
	width: 8px;
}
@media screen and (max-width: 650px) {
	.categoryHome {
		padding: 0;
	}
}
